* {
    font-family: 'Pretendard', sans-serif;

}

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0;
}

body {
    background-color: #f9f8f4;
    font-family: 'Pretendard', sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 90px;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    background-color: #1E1E1E;
    z-index: 10;
    max-width: 1440px;
    margin: 0 auto;

}

.header_section {
    position: relative;
    margin-top: 90px;
    height: 415px;
    width: 1440px;
    flex-shrink: 0;
    background-color: #1E1E1E;

}

/* 메인 사진 */
.board-image {
    position: absolute;
    top: 18px;
    right: 208px;
    /* 오른쪽에 배치 */

    /* 오른쪽으로부터 208px 여백을 줍니다. */
}

.main_text {
    position: absolute;
    /* 절대 위치로 설정 */
    top: 116px;
    /* 이미지와 겹치는 부분 위에 위치하도록 조정 */
    left: 208px;
    /* 이미지 오른쪽에 위치하도록 조정 */
    z-index: 2;
    /* 다른 요소 위에 표시하도록 조정 (보통 이미지보다 위에 있어야 함) */
    /* 다른 스타일 속성들 */
}

.main_title {
    color: #FFF;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main_content {
    width: 525px;
    color: #FFF;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 8px;
    /* 192.308% */
}


.btn_readmore {
    position: absolute;
    width: 108px;
    height: 39px;
    flex-shrink: 0;
    border: none;
    border-radius: 2px;
    background: #3A3A3A;
    color: #FFF;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    left: 208px;
    top: 322px;
}

.btn_readmore:hover {
    background-color: #898989;
}



#mylog {
    width: 174px;
    height: 66.92px;
    padding-left: 208px;
}

.nav_btn {

    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding-right: 208px;
}

.category,
.logout_btn {
    border: none;
    background-color: transparent;
    font-size: 13px;
    color: #F9F8F4;
    padding-right: 40px;
}

/* 버튼에 호버 효과 적용 */
.category:hover,
.logout_btn:hover {
    font-weight: bold;
    /* 호버 상태일 때 폰트 굵게 표시 */
    color: #7a7777;
    /* 호버 상태일 때 폰트 색상 변경 */
    /* 다른 스타일링 속성들 */
}




.login_btn,
.write_btn {

    width: 100px;
    height: 39px;
    border: none;
    border-radius: 2px;
    background: #F9F8F4;
}

.write_btn:hover {
    background-color: #898989;
}

.login_btn:hover {
    background-color: #898989;
}

/* .btn_readmore{
} */




/* .post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 104px;
    margin-bottom: 200px;
} */

/* 상단박스 */
/* .first-post-box {
    background-color: #1e1e1e;
    height: 520px;
    color: #fff;
    font-family: 'Pretendard', sans-serif;

}

.first-post-box h3 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.first-post-box p {
    font-weight: 300;
    margin-bottom: 10px;
}

.first-post-box .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 415px;
}

.first-post-box .container .post-info-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    gap: 8px;
    position: absolute;
    color: #fff;
    z-index: 1;
    height: auto;
    width: 40%;
    line-height: 2;
}

.first-post-box button {
    background-color: #3a3a3a;
    color: #f9f8f4;
    border-radius: 2px;
    padding: 8px 18px;
    width: fit-content;
    font-size: 14px
}

.first-post-box button:hover {
    background-color: #474747;
    transition: transform 0.8s;
}

.first-post-box .container .thumbnail-img {
    opacity: 0.3;
    height: -webkit-fill-available;
}

.first-post-box .container .thumbnail-img img {
    object-fit: cover;
    min-width: 600px;
    min-height: -webkit-fill-available;
    width: 100%;
    height: 100%;
}



/* 하단박스 */
/* .post-box {
    display: block;
    padding: 54px 0px;
}


.container {
    width: 1024px;
    margin: auto;
    display: flex;
    gap: 38px;
    flex-wrap: wrap;


}

.card {
    width: calc((100% - (2 * 38px)) / 3);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    transition: transform 0.8s, box-shadow 0.3s, background-color 0.3s;
}


.card-info-box {
    display: flex;
    flex-direction: column;
    height: 160px;
    color: #1e1e1e;
    font-family: 'Pretendard', sans-serif;
}


h3 {
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
}

.card-info-box h3 {
    font-size: 20px;
    font-weight: 700;
}

.card-info-box p {
    font-size: 14px;
    margin-bottom: 8px;
}

.sub-info {
    color: #7c7c7c;
    display: flex;
    gap: 20px;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #111;
}

.card-thumbnail-img {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
}

.card-thumbnail-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */



.posting_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3개의 열을 생성합니다. */
    gap: 38px;
    margin: 50px 208px 58px;

    /* 요소 사이의 간격 설정 */
}

.posting {
    border: 1px;
    /* 각 요소에 테두리 추가 (선택적) */
    width: 316px;
    /* 각 요소 주위의 패딩 추가 (선택적) */


}

/* 아래 코드는 예시로 해당 클래스를 스타일링할 때 사용할 수 있습니다. */
.posting_date {
    width: 316px;
    color: #1E1E1E;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 16px;
}

.posting_title {
    width: 316px;
    color: #1E1E1E;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 8px;
}

.posting_content {
    color: #1E1E1E;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 316px;
    margin-top: 8px;
}


footer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 200px;
    background-color: #E7E3DA;
    box-sizing: border-box;
}

.footer {
    height: 200px;
    font-size: 15px;
    font-weight: 500;
    color: #393939;
    display: flex;
    justify-content: end;
    padding-right: 150px;
    align-items: center;
}