{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="icon" type="image/jpg" href="../../static/img/너구리.jpg">
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
</head>

<body>
        <!-- HEADER -->
        <header>
            <div class="logo">
                <a href="{% url "board_admin" %}"><img src="\media\mylog.svg" id="mylog"></img></a>
            </div>
            <div class="nav_btn">
                <div class="category_box">
                    <button class="category">일상</button>
                    <button class="category">요리</button>
                    <button class="category">여행</button>
                    <button class="category">영화</button>
                    <button class="category">IT</button>
                </div>
                <div class="logout_box">
                    <a href="{% url "logout" %}"><button class="logout_btn">Logout</button></a>
                </div>
                <div class="write_box">
                    <a href="{% url "write" %}"><button class="write_btn">Just Write!</button></a>
                </div>
            </div>
        </header>
    
    <div class="container">

        <div class="box-divider">
            {% comment %} 본문 영역 {% endcomment %}
            <div class="big-box">

                <div class="post-info">

                    <h5>{{ post.created_at }} | 조회수 : {{ post.views }}</h5>
                    <h1>{{ post.title }}</h1>
                    <h5>by {{ post.author_id }}</h5>
                    <button class="topic-box">{{ post.topic }}</button>
                </div>
                <!-- <div class="post-content"> -->
                <div class="post-content">
                    {{ post.content | safe }}
                </div>
                
            </div>

            {% comment %} 추천글 영역 {% endcomment %}
            <div class="small-box">
                <h3>Other posts</br>you may like</h3>
                {% for recommended_post in recommended_posts %}
                <div class="recommend-box">
                    <a href="{% url 'post_detail' recommended_post.id %}">
                        {{ recommended_post.image_tag|safe }}
                        {{ recommended_post.title }}</a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="button-box">
            {% if user.is_authenticated %}
            <a href="{% url 'editPost' post.id %}"><button class="edit-button">수정하기</button></a>
            <form method="POST" action="{% url 'post_detail' post.id %}">
                {% csrf_token %}
                <input type="hidden" name="delete-button" value="true">
                <button type="submit" class="delete-button">삭제하기</button>
            </form>
            {% endif %}
            <button class="share-button">공유하기</button>
        </div>

        {% if next_post %}
      <div class="another-post-box">
        <div class="post-box">
            <div class="post-war">다음글</div>
          <div class="post-name">
            <a href="{% url 'post_detail' next_post.id %}"
              >{{ next_post.title }}</a
            >
          </div>
        </div>
        <p>{{ next_post.created_at }}</p>
      </div>
      {% else %}
      <div class="another-post-box"></div>
      {% endif %}

      <!-- 이전글 표시 -->
      {% if previous_post %}
      <div class="another-post-box">
        <div class="post-box">
            <div class="post-war">이전글</div>
          <div class="post-name">
            <a href="{% url 'post_detail' previous_post.id %}"
              >{{ previous_post.title }}</a
            >
          </div>
        </div>
        <p>{{ previous_post.created_at }}</p>
      </div>
      {% else %}
      <div class="another-post-box"></div>
      {% endif %}
    </div>
    <!-- FOOTER -->
    <footer>
        <div class="footer">
            Made with&nbsp; <strong> Django </strong> &nbsp;| © 2023 Oreumi 2^2. All rights reserved.
        </div>
    </footer>
</body>
<script>
    // 공유하기 버튼 클릭 시
    document.querySelector('.share-button').addEventListener('click', function() {
      let postUrl = window.location.href;
      
      // 클립보드에 복사
      let tempInput = document.createElement("input");
      document.body.appendChild(tempInput);
      tempInput.value = postUrl;
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      
      // 알림 표시
      alert('포스트 링크가 클립보드에 복사되었습니다');
    });
</script>
<script>
  // 이미지 태그의 src 속성에 "/"를 추가
  var postContent = document.querySelector('.post-content');
  var imgTags = postContent.querySelectorAll('img');
  for (var i = 0; i < imgTags.length; i++) {
      var imgSrc = imgTags[i].getAttribute('src');
      // 이미지 태그의 src 속성 앞에 "/"를 추가
      if (imgSrc && !imgSrc.startsWith('/')) {
          imgTags[i].setAttribute('src', '/' + imgSrc);
      }
  }
</script>
<script>
  // 이미지 태그의 src 속성에 "/"를 추가
  var recommendedPosts = document.querySelectorAll('.recommend-box');
  for (var i = 0; i < recommendedPosts.length; i++) {
      var imgTag = recommendedPosts[i].querySelector('img');
      var imgSrc = imgTag.getAttribute('src');
      // 이미지 태그의 src 속성 앞에 "/"를 추가
      if (imgSrc && !imgSrc.startsWith('/')) {
          imgTag.setAttribute('src', '/' + imgSrc);
      }
  }
</script>
</html>