{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}"> -->
    <title>Document</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="logo">
            <img src="\media\board_client_log.svg" id="mylog"></img>
        </div>
        <div class="nav_btn">
            <div class="category_box">
                <a href=""><button class="category">일상</button></a>
                <a href=""><button class="category">요리</button></a>
                <a href=""><button class="category">여행</button></a>
                <a href=""><button class="category">영화</button></a>
                <a href=""><button class="category">IT</button></a>
            </div>
            <div>
                <a href=""></a><button class="login_btn">Login</button></a>
            </div>
        </div>
    </header>

    <section>
        <article>
            <div class="header_section">
                <div class="main_text">
                    <div class="main_title">
                        Lorem ipsum dolor
                    </div>
                    <div class="main_content">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus
                        aliquam
                        pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer.
                        Ridiculus
                        id
                        purus feugiat et mi justo scelerisque euismod euismod. Turpis dictumst luctus nisi placerat
                        purus
                        dolor
                        luctus vitae pretium. Gravida faucibus scelerisque quis mi consequat malesuada.
                    </div>
                </div>
                <button class="btn_readmore">READ MORE</button>
                <img src="\media\board_image.svg">
            </div>
        </article>

        <div class="posting_section">
            <div class="posting">
                <img src="\media\Rectangle_13.svg">
                <p class="posting_date">2023-09-07 12:13:01</p>
                <p class="posting_title">Lorem ipsum dolor</p>
                <p class="posting_content">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus
                    aliquam
                    pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus
                    id
                    purus feugiat et mi justo</p>
            </div>

            <div class="posting">
                <img src="\media\Rectangle_14.svg">
                <p class="posting_date">2023-09-07 12:13:01</p>
                <p class="posting_title">Lorem ipsum dolor</p>
                <p class="posting_content">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus
                    aliquam
                    pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus
                    id
                    purus feugiat et mi justo</p>
            </div>

            <div class="posting">
                <img src="\media\Rectangle_15.svg">
                <p class="posting_date">2023-09-07 12:13:01</p>
                <p class="posting_title">Lorem ipsum dolor</p>
                <p class="posting_content">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus
                    aliquam
                    pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus
                    id
                    purus feugiat et mi justo</p>
            </div>

            <div class="posting">
                <img src="\media\Rectangle_13.svg">
                <p class="posting_date">2023-09-07 12:13:01</p>
                <p class="posting_title">Lorem ipsum dolor</p>
                <p class="posting_content">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus
                    aliquam
                    pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus
                    id
                    purus feugiat et mi justo</p>
            </div>

            <div class="posting">
                <img src="\media\Rectangle_14.svg">
                <p class="posting_date">2023-09-07 12:13:01</p>
                <p class="posting_title">Lorem ipsum dolor</p>
                <p class="posting_content">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus
                    aliquam
                    pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus
                    id
                    purus feugiat et mi justo</p>
            </div>

            <div class="posting">
                <img src="\media\Rectangle_15.svg">
                <p class="posting_date">2023-09-07 12:13:01</p>
                <p class="posting_title">Lorem ipsum dolor</p>
                <p class="posting_content">Lorem ipsum dolor sit amet consectetur. Non pretium arcu praesent cursus
                    aliquam
                    pellentesque. Euismod consectetur fames vitae nunc gravida morbi felis porttitor integer. Ridiculus
                    id
                    purus feugiat et mi justo</p>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="footer">
            Made with&nbsp; <strong> Django </strong> &nbsp;| © 2023 Oreumi 2^2. All rights reserved.
        </div>
    </footer>
</body>

</html>