{% load custom_filter%} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_list.css' %}">
    <title>Main_Admin</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="logo">
            <a href="{% url 'board_admin' %}"><img src="\media\board_client_log.svg" id="mylog"></img></a>
        </div>
        <div class="nav_btn">
            <div class="category_box">
                <a href=""><button class="category">일상</button></a>
                <a href=""><button class="category">요리</button></a>
                <a href=""><button class="category">여행</button></a>
                <a href=""><button class="category">영화</button></a>
                <a href=""><button class="category">IT</button></a>
                <a href="{% url 'logout' %}"><button class="logout_btn">Logout</button></a>
            </div>
            <div>
                <a href="{% url 'write' %}"><button class="write_btn">Just Write!</button></a>
            </div>
        </div>
    </header>

    <section>
        <div id="post-list" class="post-list">
            {% for post in posts %} {% if forloop.first %}
            <div class="header_section"> <!-- 강사님: first-post-box-->
                <div class="main_text"> <!-- 강사님: container-->
                    <a href="{% url 'post_detail' post.id %}">
                        <div>
                            <div class="main_title">{{ post.id }}</div>
                            <div class="main_title">{{ post.title }}</div>
                            <div class="main_content">{{ post.content|text_only }}</div>
                            <button class="btn_readmore">READ MORE</button>
                        </div>
                    </a>
                </div>
                <img src="{{ post.content|get_img_src }}" alt="" class="board-image" />
            </div>
            {% endif %} {% endfor %}
        </div>


    </section>

    <!-- FOOTER -->
    <footer>
        <div class="footer">
            Made with&nbsp; <strong> Django </strong> &nbsp;| © 2023 Oreumi 2^2. All rights reserved.
        </div>
    </footer>
</body>

</html>