{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}">
    <script src="https://cdn.tiny.cloud/1/cig4n9ujjp5wqsgk6jqk8pcfi03mazpxf0hb3h3tz9129744/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <title>{% if edit_mode %}포스트 수정{% else %}포스트 작성{% endif %}</title>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            images_upload_url: '{% url "image_upload" %}',
        });

        document.addEventListener('DOMContentLoaded', (event) => {

            // 이미지 업로드 후 에디터 내에 이미지 삽입
            document.getElementById('imageUpload').addEventListener('change', function() {
              let formData = new FormData();
              formData.append('file', this.files[0]);

              fetch('{% url "image_upload" %}', {
                method: 'POST',
                body: formData,
                headers: {
                  'X-CSRFToken': '{{ csrf_token }}'
                }
              })
              .then(response => response.json())
              .then(data => {
                tinyMCE.activeEditor.insertContent(`<img src="${data.location}"/>`);
              })
              .catch(error => console.error('Error:', error));
            });
        });
    </script>
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="logo">
            <a href="{% url "board_admin" %}"><img src="\media\mylog.svg" id="mylog"></img></a>
        </div>
        <div class="nav_btn">
            <div class="category_box">
                <button class="category">일상</button>
                <button class="category">요리</button>
                <button class="category">여행</button>
                <button class="category">영화</button>
                <button class="category">IT</button>
            </div>
            <div class="logout_box">
                <a href="{% url "logout" %}"><button class="logout_btn">Logout</button></a>
            </div>
            <div class="write_box">
                <a href="{% url "write" %}"><button class="write_btn">Just Write!</button></a>
            </div>
        </div>
    </header>

    <!-- MAIN -->
    <main>

        <form method="POST" enctype="multipart/form-data" action="{% url 'write'%}">
            {% csrf_token %}
            <input type="submit" value="test">
            <div class="form-container">
                <section>
                    <div class="write-box">
                        <input type="text" id="title" name="title" class="title" placeholder=" 제목" value="{{post.title }}">
                        <textarea class="textarea" id="mytextarea" name="content">{{post.content}}</textarea>
                    </div>
                </section>
            <!-- 우측 부분 -->
                <aside>
                    <button type="button" class="ai-button">
                        <img id="aibot" src="\media\aibot.png" alt="AI 아이콘"/>
                        <div>
                            <img src="\media\loading.gif" alt="로딩 중">
                        </div>
                        AI 글 자동완성
                    </button>

                    <div class="topic-container">
                        <div class="margin-left-ten">
                            <h2><label for="topic">TOPIC</label></h2>
                            <input type="radio" id="topic1" name="topic" value="전체" {% if topic == '전체' %}checked{% endif %}>
                            <label for="topic1" class="radio-text">전체</label><br>
                            <input type="radio" id="topic1" name="topic" value="일상" {% if topic == '일상' %}checked{% endif %}>
                            <label for="topic1" class="radio-text">일상</label><br>
                            <input type="radio" id="topic2" name="topic" value="요리" {% if topic == '요리' %}checked{% endif %}>
                            <label for="topic2" class="radio-text">요리</label><br>
                            <input type="radio" id="topic3" name="topic" value="여행" {% if topic == '여행' %}checked{% endif %}>
                            <label for="topic3" class="radio-text">여행</label><br>
                            <input type="radio" id="topic4" name="topic" value="영화" {% if topic == '영화' %}checked{% endif %}>
                            <label for="topic4" class="radio-text">영화</label><br>
                            <input type="radio" id="topic5" name="topic" value="IT" {% if topic == 'IT' %}checked{% endif %}>
                            <label for="topic5" class="radio-text">IT</label><br>
                        </div>

                    </div>
                    <div class="uploadinfo-container">
                        <h2 class="uploadinfo-container-title"><label for="uploadinfo">UPLOAD INFO</label></h2>
                        <div class="status-container">상태: 미발행</div>
                        <div class="input-container">
                            {% comment %} <input type="file" name="file" style="display: none;" id="imageUpload" class="image-upload-button" accept="image/*"></input> {% endcomment %}
                            <button type="button" class="input-label" for="input-file" onclick="document.getElementById('imageUpload').click();">이미지 업로드</button>
                        </div>
                        <div class="form-control-container">
                            <button type="submit" name="draft" value="1" class="temp-save-button">임시저장</button>
                            <input type="submit" name="publish" value="Y">
                            <button type="submit" name="delete" value="1" class="delete-button">글 삭제</button>
                        </div>엇

                    </div>
                </aside>
            </div>
        </form>
    </main>

    <!-- FOOTER -->
    <footer>
        <div class="footer">
            Made with&nbsp; <strong> Django </strong> &nbsp;| © 2023 Oreumi 2^2. All rights reserved.
        </div>
    </footer>

    {% comment %} <script src="{% static 'tinymce/tinymce.min.js' %}"></script> {% endcomment %}
    <!-- <script src="{% static 'js/write_scripts.js' %}"></script> -->
</body>

</html>